/* Poppins font */
@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

/* CSS variables */
:root {
    /* Font */
    --font: "Poppins";

    /* Colors */
    /* --primary-light: #8d87b7; */
    --primary-light: #abaeef;
    --primary-dark: #1f2039;
    --white: #ffffff;
    --black: #1d1d1d;
}

/* General Styles */
a {
    text-decoration: none;
    color: initial;
    transition: color .3s ease;
}

a:hover {
    color: var(--primary-light);
}

a.btn {
    color: var(--white);
    padding: 20px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: larger;
    background: linear-gradient(to bottom, #4c4764, var(--primary-light));
}

/* h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: var(--primary-light);
} */
h1 {
    color: var(--primary-light);
    font-size: 50pt;
    font-weight: 500;
    line-height: 60pt;
}

h2 {
    text-align: center;
    font-weight: 500;
    font-size: 25pt;
}

section {
    margin: 5% 0;
    padding: 50px;
    background-color: var(--primary-dark);
    text-align: center;
}

section.bg-white {
    background-color: var(--white);
    margin: 5% 0;
    padding: 50px;
    text-align: center;
}

section p {
    color: var(--white);
    font-size: larger;
}

body {
    margin: 0;
    font-family: var(--font);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

/* Header Styles */
header {
    grid-column: 1 / -1;
    padding: 10px 50px 0 0;
    background-color: var(--white);
    width: 100%;
    position: fixed;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: var(--primary-dark);
    font-size: larger;
}

nav ul>li:first-child {
    margin-right: auto;
}

nav img {
    width: 50%;
}

/* Main Styles */
main {
    grid-column: 1 / -1;
}

/* Hero */
.hero {
    width: 100%;
    /* height: 80%; */
    gap: 15%;
    background-color: var(--primary-dark);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0;
}

.hero-text {
    width: min-content;
    height: 100%;
}

.hero-text h1 {
    font-size: 50pt;
    font-weight: 500;
    line-height: 60pt;
}

.hero-text p {
    width: calc(100% + 90px);
    color: var(--white);
    font-size: larger;
    margin: auto;
}

.hero-text p>span {
    color: var(--primary-light);
}

.hero .hero-img {
    width: 30%;
}

/* About */
.about .about-text {
    padding: 0 5% 2% 5%;
    margin: 0 20%;
    text-align: justify;
    border-right: var(--primary-light) 1px solid;
    border-bottom: var(--primary-light) 1px solid;
}

.about h2 {
    color: var(--white);
}

.about ul {
    list-style: none;
}

.about ul li {
    color: var(--white);
    font-size: larger;
}

.about ul li::before {
    content: "•";
    color: var(--white);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 20pt;
}

/* Gallery */
.gallery h2 {
    color: var(--black);
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: 320px 320px;
    gap: 10px;
  }
  .grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .box-image {
    position: relative;
    transition: all .3s ease;
  }
  .box-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: all .3s ease;
  }
  .box-image:hover .box-hover {
    display: flex;
    transition: all .3s ease;
  }
  @media screen and (max-width: 996px) {
    .grid img,
    .box-hover {
      min-height: 320px;
      max-height: 320px;
    }
  
    .gallery {
      padding: 15px;
    }
  }

/* Footer Styles */
footer {
    grid-column: 1 / -1;
}