/* Variables */
:root {
    /* Colors */
    --dark: #2C2B2B;
    --light: #D7D7D7;


    /* Font */
    --font: 'Poppins', sans-serif;

    /* Transition */
    --transition: all .3s ease;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    color: var(--dark);
    height: 100vh;
    font-size: 16px;
    overflow: hidden;
}

h1 {
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 300;
}

h1 span {
    font-weight: 700;
}

h2 {
    font-size: 72px;
    font-weight: bold;
    line-height: 80px;
}

h3 {
    font-weight: 600;
    font-size: 32px;
    text-align: right;
}

h4 {
    font-size: 20px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

a.cta {
    font-weight: 600;
    text-transform: capitalize;
    padding: 15px 20px;
    background-color: var(--light);
    color: var(--dark);
    border-radius: 20px;
    width: fit-content;
    transition: var(--transition);
}

a.cta:hover {
    scale: 1.1;
    rotate: 1deg;
    border-bottom-right-radius: 0;
    box-shadow: 5px 5px 5px #D7D7D710;
}

a.btn-outlined {
    border: 1px solid var(--dark);
    padding: 10px 25px;
    border-radius: 20px;
    outline: 1px solid transparent;
    transition: var(--transition);
}

a.btn-outlined:hover {
    outline-color: var(--dark);
}

p {
    line-height: 25px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    height: 100%;
}

.text-container {
    grid-column: 1 / span 4;
    background-color: var(--dark);
    color: var(--light);
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
}

.text-cta {
    flex: 1;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
}

/* Showcase section */

.showcase {
    padding: 50px 80px;
    grid-column: 5 / span 8;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--light);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-links,
.navbar .nav-auth {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.navbar .nav-link, .navbar .btn-outlined {
    font-weight: 500;
}

.navbar .nav-link {
    position: relative;
}

.navbar .nav-link .link-indicator {
    position: absolute;
    bottom: -10px;
    left: 50%;
    height: 2px;
    width: 0;
    border-radius: 50px;
    background-color: var(--dark);
    transition: var(--transition);
}

.navbar .nav-link.active {
    font-weight: 600;
}

.navbar .nav-link.active .link-indicator {
    width: 100%;
    left: 0;
    bottom: -5px;
}

.navbar .nav-link:hover .link-indicator {
    width: 100%;
    left: 0;
    bottom: -5px;
}

.furnitures {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    position: relative;
}

.furnitures .furnitures-list {
    display: flex;
    gap: 50px;
    width: inherit;
    flex: 1;
}

.furnitures .furniture {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: start;
}

.furnitures .furniture:last-child {
    flex-direction: column-reverse;
    justify-content: space-between;
}

.furnitures .image {
    width: inherit;
    height: 80%;
    border-radius: 20px;
    border: 2px solid white;
    background-color: #2C2B2B10;
    box-shadow: 0 0 10px 3px inset #2C2B2B20;
    position: relative;
}

.furnitures .furniture .image img {
    width: inherit;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.furnitures .image .overlay {
    position: absolute;
    display: flex;
    gap: 20px;
    align-items: end;
    justify-content: center;
    background-color: #2C2B2B50;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    box-shadow: 0 0 10px 3px inset #2C2B2B50;
}

.furnitures .image .overlay .indicator {
    height: 2px;
    width: 40px;
    border-radius: 20px;
    background-color: #D7D7D750;
    margin-bottom: 15px;
}

.furnitures .image .overlay .indicator.active {
    background-color: white;
}

.furnitures .image .overlay a {
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--light);
    padding: 8px 20px;
    border-radius: 15px;
    transition: var(--transition);
}

.furnitures .image .overlay a:hover {
    background-color: #D7D7D750;
    color: var(--dark);
}