/* Variables */
:root {
    /* Colors */
    --primary: #692D91;
    --secondary: #B267D6;
    --bg-section: #FDFAFF;
    --border-color: #CEC4D4;
    --dark: #535353;
    --light: #FDFAFF;
    --gradient: linear-gradient(224deg, #B267D6 0%, #692D91 100%);


    /* Font */
    --heading-font: 'Ubuntu', sans-serif;
    --text-font: 'PT Sans', sans-serif;

    /* Other */
    --transition: all 300ms ease-in-out;
    --shadow: 5px 5px 10px #53535350;
}

* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
    color: var(--dark);
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: var(--heading-font)
}

h1 {
    font-size: 48px;
    color: var(--primary);
    font-weight: 700;
    font-family: var(--heading-font);
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

a.btn,
input[type="submit"] {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    background: var(--gradient);
    color: var(--light);
    border: none;
    outline: none;
    cursor: pointer;
    transition: var(--transition);
}

a.btn:hover,
input[type="submit"]:hover {
    box-shadow: var(--shadow);
}

p,
blockquote {
    margin: 0;
    padding: 0;
}

section {
    padding: 100px;
}

.empty-space-xl {
    height: 30vh;
}

/* .container {
    max-width: 1000px;
    margin: auto;
} */

/* Header */
header {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    padding: 20px 0;
}

.navbar .nav-items {
    display: flex;
    gap: 20px;
}

.navbar .nav-items .nav-link {
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: var(--transition);
}

.navbar .nav-items .nav-link:hover {
    border-color: var(--primary);
}

.navbar .nav-items .nav-link.active {
    background-color: rgba(144, 66, 195, 0.20);
    border: 2px solid var(--primary);
    font-weight: 700;
    color: var(--primary);
    outline: 1px solid transparent;
    transition: var(--transition);
}

.navbar .nav-items .nav-link.active:hover {
    outline: 1px solid var(--primary);
}

.nav-btn {
    background: var(--gradient);
    font-size: 20px;
    height: 80px;
    padding: 15px 25px;
    text-align: center;
    color: var(--bg-section);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom-left-radius: 10px;
    transition: var(--transition);
}

.nav-btn:hover {
    box-shadow: var(--shadow);
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer .footer-socials {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

footer .footer-socials .social-links {
    display: flex;
    gap: 20px;
}

footer .footer-socials .social-links .link {
    font-size: 30px;
    background-color: var(--secondary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    color: var(--light);
}

footer .footer-socials .social-links .link:hover {
    background-color: var(--primary);
}

footer p {
    font-size: 14px;
}

footer p a {
    color: var(--secondary);
    transition: var(--transition);
}

footer p a:hover {
    text-decoration: underline;
    color: var(--primary);
}

footer small {
    font-size: 13px;
    padding: 15px 0;
    background-color: var(--primary);
    width: 100%;
    color: var(--light);
    text-align: center;
}

@media screen and (min-width: 1024px) and (max-width: 1600px){
    .empty-space-xl {
        height: 65vh;
    }
}