/* Variables */
:root {
    /* Colors */
    --primary: #692D91;
    --secondary: #B267D6;
    --bg-section: #FDFAFF;
    --border-color: #CEC4D4;
    --dark: #535353;
    --light: #FDFAFF;
    --gradient: linear-gradient(224deg, #B267D6 0%, #692D91 100%);


    /* Font */
    --heading-font: 'Ubuntu', sans-serif;
    --text-font: 'PT Sans', sans-serif;

    /* Other */
    --transition: all 300ms ease-in-out;
    --shadow: 5px 5px 10px #53535350;
}

/* Hero */
#hero {
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

#hero::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: -70px;
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
    z-index: -1;
    background: url(https://s3-alpha-sig.figma.com/img/be24/96aa/7ef32025c8c20b48030fee3dd03c2324?Expires=1691971200&Signature=G5irXWlQFb6MNXTsxwleN~LVt5F3WWPlWiM4z-SmCtriwmB2sM5-RXZemDrwVA~fU2RBha-kLiYZAGphkPNa7izseV-Lr0ql6aoWtDrdkiGuBEzZEGkyzf-qqgnWTz8~09KI9aQCZMFmHguxb12ptCwCKOqqmt1U2t3RUjYd15lM5czuBwQHvm1A6zGtwaZ5WEMq8uQHJISqiaOFzJkwh4adnPVl9n2HACwWaF3no8Ldrjb9GPXceBB7gbTsSIDh5QqaOeZKKeFiHY92gGHctG6WUbF~4BPjCsKML9MPj9sAyfs0JRWIJqj~JGnlp3T3KvYndqgpFsD7GGb4xrsXGA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
}

.hero .hero-content img {
    width: 100px;
}

.hero .hero-content p {
    font-size: 26px;
}

.hero .hero-content .btn {
    padding: 15px 25px;
}

.hero .quote-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 25px;
    font-size: 28px;
    font-style: italic;
    text-align: center;
    padding: 40px 65px;
    position: absolute;
    bottom: -18%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    box-shadow: 10px 20px 50px 0px rgba(123, 107, 139, 0.18);
}

.hero .quote-card span {
    margin-right: 50px;
}

/* Join */
#join {
    background-color: var(--light);
    height: 85vh;
}

.join .empty-space{
    height: 15vh;
}

.join-content {
    display: grid;
    gap: 80px;
    grid-template: 1fr / repeat(12, 1fr);
}

.join-content .join-form {
    grid-column: 3 / span 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.join-content .join-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.join-content .join-form .form-group label {
    display: block;
    color: #7A7A7A;
}

.join-content .join-form .form-group input,
.find-us .write-us .form-group input,
.find-us .write-us .form-group textarea {
    padding: 15px 20px;
    border: 2px solid var(--border-color);
    outline: none;
    border-radius: 5px;
    transition: var(--transition);
    font-weight: 600;
    color: var(--primary);
}

.join-content .join-form .form-group input:focus,
.find-us .write-us .form-group input:focus,
.find-us .write-us .form-group textarea:focus {
    border: 2px solid var(--primary);
}

.join-content .join-form .form-group input::placeholder,
.find-us .write-us .form-group input::placeholder,
.find-us .write-us .form-group textarea::placeholder {
    color: #B7B4B4;
    font-weight: initial;
}

.join-content .join-form input[type="submit"],
.find-us .write-us .form-group input[type="submit"] {
    padding: 15px 20px;
    font-size: initial;
}

.join-content .join-info {
    grid-column: 7 / span 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.join-content .join-info p {
    text-align: justify;
    font-style: normal;
    line-height: 25px;
}

/* Find us */
#find-us {
    z-index: 3;
    color: var(--light);
    position: relative;
    height: 150vh;
}

#find-us::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -5%;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(0 5%, 100% 0, 100% 93%, 0 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(https://wallpapercave.com/wp/wp3349336.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.find-us .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.find-us iframe {
    width: 80%;
    height: 600px;
    margin: auto;
    border: 0;
}

.find-us h2 {
    text-align: center;
}

.find-us .location {
    display: flex;
    gap: 20px;
}

.find-us .location p {
    font-size: 18px;
    font-weight: 700;
}

.find-us .contact {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.find-us .contact .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.find-us .contact .contact-info .contact-link {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 10px;
    transition: var(--transition);
}

.find-us .contact .contact-info .contact-link:hover {
    background-color: #FDFAFF25;
}

.find-us .contact .contact-social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.find-us .contact .contact-social .social-link,
footer .footer-socials .social-links {
    display: flex;
    gap: 20px;
}

.find-us .contact .contact-social .social-link .link,
footer .footer-socials .social-links .link {
    font-size: 30px;
    background-color: var(--secondary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    color: var(--light);
}

.find-us .contact .contact-social .social-link .link:hover,
footer .footer-socials .social-links .link:hover {
    background-color: var(--primary);
}

.find-us .write-us {
    background-color: var(--bg-section);
    color: var(--dark);
    width: calc(100% - 400px);
    border-radius: 10px;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    bottom: -18%;
    box-shadow: 15px 30px 50px 0px rgba(150, 135, 158, 0.17);
}

.write-us form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.find-us .write-us .radios {
    display: flex;
    gap: 20px;
}

.find-us .write-us .radios .radio-btn [type="radio"] {
    display: none;
}

.find-us .write-us .radios .radio-btn + .find-us .write-us .radios .radio-btn {
    margin-top: 15px;
}

.find-us .write-us .form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.find-us .write-us .radios .radio-btn label {
    display: block;
    text-align: center;
    padding: 15px 20px;
    color: #7A7A7A;
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    cursor: pointer;
    min-width: 250px;
	white-space: nowrap;
	position: relative;
    transition: var(--transition);
}

.find-us .write-us .radios .radio-btn label:hover {
    border-color: var(--primary);
}

/* .find-us .write-us .radios .radio-btn label::before,
.find-us .write-us .radios .radio-btn label::after {
    content: "";
	position: absolute;
	border-radius: 50%;
} */

/* .find-us .write-us .radios .radio-btn label::after {
    width: 19px;
    height: 19px;
    border: 2px solid var(--border-color);
    left: 19px;
    top: calc(50% - 10px);
}

.find-us .write-us .radios .radio-btn label::before {
    background-color: var(--dark);
    width: 20px;
    height: 20px;
    left: 21px;
	top: calc(50%-5px);
	transform: scale(5);
	opacity: 0;
	visibility: hidden;
    transition: var(--transition);
} */

.find-us .write-us .radios .radio-btn [type="radio"]:checked ~ label {
    border-color: var(--primary);
    background-color: #EBCCFF;
    color: var(--primary);
    font-weight: 600;
}

/* .find-us .write-us .radios .radio-btn [type="radio"]:checked ~ label::before {
    opacity: 1;
	visibility: visible;
	transform: scale(1);
} */

.find-us .write-us .group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.find-us .write-us .group .form-group {
    width: 100%;
}

.find-us .write-us textarea {
    resize: vertical;
    height: 4em;
    max-height: 200px;
}