:root {
    /* Colors */
    --light: #F2F5F9;
    --dark: #0B0909;
    --primary: #FF9C1A;
    --secondary: #EC1B09;
    --gradient: linear-gradient(127deg, var(--primary) 0%, var(--secondary) 100%);
    --bg-color: #EBF2FA;

    /* Fonts */
    --brand: 'Pacifico', cursive;
    --heading: 'Poppins', sans-serif;
    --body: 'Raleway', sans-serif;
}

.content__about-contact {
    grid-column: 4 / span 9;
    background-color: white;
    border-radius: 30px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.content__about-contact .about-heading__title {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content__about-contact .about-heading__title h2 {
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 600;
}

.content__about-contact .about-heading__title h2 {
    font-size: 40px;
}


.content__about-contact .about-heading__title hr {
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background: var(--gradient);
    border: none;
}

.contact-details {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact-details .contact__item {
    border-radius: 20px;
    padding: 20px 30px;
    background-color: var(--light);
    border: 2px solid #FFEED9;
    position: relative;
    transition: all 300ms ease;
}

.contact-details .contact__item:hover {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
    background-color: #EC1B0915;
    border-color: var(--secondary);
}

.contact-details .contact__item .item-icon {
    font-size: 30px;
    background-color: #FFEED9;
    border-radius: 50%;
    border: 5px solid white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30px;
    transition: all 300ms ease;
}

.contact-details .contact__item .item-icon i {
    background: linear-gradient(180deg, var(--primary) 0%, var(--secondary) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 300ms ease;
}

.contact-details .contact__item:hover .item-icon {
    background: var(--gradient);
}

.contact-details .contact__item:hover .item-icon i {
    color: white;
    background: unset;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
}

.contact-details .contact__item .item__content {
    margin-top: 30px;
}

.contact-details .contact__item small {
    display: block;
    margin-bottom: 5px;
}

.contact-details .contact__item span {
    font-weight: 600;
}

/* Contact Form */
.contact-form {
    padding: 10px 30px;
    background-color: var(--light);
    border-radius: 30px;
    width: 100%;
}

.contact-form p {
    text-align: center;
}

.contact-form p span {
    font-weight: bold;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact-form form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
    border-bottom: 1px solid #0B090950;
    font-weight: 600;
}

.contact-form form .form-input {
    width: 80%;
    position: relative;
}

.contact-form form .form-input .input-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    transition: all 300ms ease-in-out;
}

.contact-form form input:focus ~ .input-indicator,
.contact-form form textarea:focus ~ .input-indicator  {
    width: 100%;
    background: var(--gradient);
    outline: none;
}

.contact-form form textarea  {
    resize: none;
}

.submit {
    width: 80%;
}

.contact-form .form-submit {
    border: 2px solid var(--secondary);
    border-radius: 50px;
    padding: 5px 20px;
    width: fit-content;
    align-self: flex-start;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}

.contact-form .form-submit i {
    font-size: 20px;
    display: none;
    transition: all 300ms ease-in-out;
}

.contact-form .form-submit input {
    border: none;
    outline: none;
    cursor: pointer;
}

.contact-form .form-submit:hover {
    border-color: green;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-form .form-submit:hover i {
    display: block;
}