:root {
    /* Colors */
    --light: #F2F5F9;
    --dark: #0B0909;
    --primary: #FF9C1A;
    --secondary: #EC1B09;
    --gradient: linear-gradient(127deg, var(--primary) 0%, var(--secondary) 100%);
    --bg-color: #EBF2FA;

    /* Fonts */
    --brand: 'Pacifico', cursive;
    --heading: 'Poppins', sans-serif;
    --body: 'Raleway', sans-serif;
}

.content__about-home {
    grid-column: 4 / span 9;
    background-color: white;
    border-radius: 30px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.about-heading .about-heading__title {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.about-heading .about-heading__title h2, 
.content__about-home .about-description h3{
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 600;
}

.about-heading .about-heading__title h2 {
    font-size: 40px;
}


.about-heading .about-heading__title hr {
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background: var(--gradient);
    border: none;
}

.about-heading p {
    font-size: 16px;
    line-height: 30px;
}

.content__about-home .about-description h3{
    font-size: 30px;
    margin-bottom: 10px;
}

.about-description .description__list {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 30px;
}

.about-description .list__item {
    padding: 20px 50px;
    border-radius: 20px;
    background: var(--light);
}

.about-description .list__item:first-child,
.about-description .list__item:last-child {
    background-color: #FFEBD1;
}

.about-description .list__item .item-header {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
}

.about-description .list__item .item-header i {
    background: linear-gradient(180deg, var(--primary) 0%, var(--secondary) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}