/* Variables */
:root {
    /* Colors */
    --light: #DEDEDE;
    --light-trans: rgba(222, 222, 222, 0.6);
    --dark: #202020;
    --opacity: 0.6;

    /* Font */
    --font: 'Manrope', sans-serif;

    /* Transition */
    --transition: all 300ms ease-in-out;
}

* {
    box-sizing: border-box;
    color: inherit;
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    font-family: var(--font);
    color: var(--light);
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a.btn-link {
    padding: 16px 50px;
    background-color: var(--light-trans);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: var(--transition);
    width: fit-content;
}

a.btn-link:hover {
    color: var(--dark);
    background-color: var(--light);
}

a.btn-link svg path {
    transition: var(--transition);
}

a.btn-link:hover svg path {
    stroke: var(--dark);
}

section.with-padding {
    padding: 96px;
}

section .section__title {
    font-size: 36px;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */
header {
    padding: 20px;
    background: rgba(50, 50, 50, 0.70);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .brand {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar .brand img {
    width: inherit;
}

.navbar .brand span {
    font-weight: bold;
    font-size: 20px;
}

.navbar .navbar-links {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.navbar .navbar-links .nav__link-toggle {
    display: none;
}

.navbar .navbar-links .nav__link {
    font-size: 18px;
    padding: 0 5px;
    position: relative;
    transition: var(--transition);
}

.navbar .navbar-links .nav__link .link-indicator {
    position: absolute;
    background-color: var(--light);
    bottom: -15px;
    left: 50%;
    height: 3px;
    width: 0;
    border-radius: 20px;
    transition: var(--transition);
}

.navbar .navbar-links .nav__link:hover {
    color: white;
}

.navbar .navbar-links .nav__link:hover .link-indicator {
    left: 0;
    width: 100%;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 85vh;
}

.hero-text {
    width: 35%;
}

.hero-text h1 {
    font-size: 64px;
    letter-spacing: -0.5px;
}

.hero-text p {
    font-size: 24px;
    color: var(--light-trans);
    letter-spacing: -0.5px;
    line-height: 26px;
}

.hero .hero-image {
    width: 60%;
    text-align: right;
}

.hero .hero-image img {
    width: 50%;
    border-radius: 50%;
}

a.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 10px;
    color: var(--light-trans);
    transition: var(--transition);
    padding: 0 96px;
}

a.link svg path {
    fill: var(--light-trans);
    transition: var(--transition);
}

a.link:hover {
    color: var(--light);
}

a.link:hover svg path {
    fill: var(--light);
}

/* Featured */
.featured {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.featured .featured-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.featured .featured-row:last-child {
    position: relative;
    top: 100px;
}

.featured .featured-row .img-container {
    position: relative;
    width: 100%;
}

.featured .featured-row .img-container .hover-text {
    position: absolute;
    background-color: #20202070;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    height: 0;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 50% 50%;
    font-size: 40px;
    visibility: hidden;
    transition: var(--transition);
}

.featured .featured-row .img-container:hover .hover-text {
    height: 100%;
    border-radius: 0;
    visibility: visible;
}

.featured .featured-row .img-container .hover-text a {
    position: relative;
}

.featured .featured-row .img-container .hover-text a .link-indicator {
    position: absolute;
    background-color: var(--light);
    bottom: -15px;
    left: 50%;
    height: 3px;
    width: 0;
    border-radius: 20px;
    transition: var(--transition);
}

.featured .featured-row .img-container .hover-text a:hover .link-indicator {
    left: 0;
    width: 100%;
}

.featured .featured__image {
    width: 100%;
    height: 800px;
    object-fit: cover;
    border-radius: 5px;
}

/* Visual */
.visual-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.visual-images img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* Personal */
.personal-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.personal-images img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contact p {
    color: var(--light-trans);
}

/* Footer */
/* Footer */
footer {
    padding: 50px 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--light-trans);
}

footer .copyright span {
    color: var(--light);
}

footer .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 22px;
}

footer .social-links a {
    transition: var(--transition);
}

footer .social-links a:hover {
    color: var(--light);
}

@media only screen and (max-width: 768px) {
    section.with-padding {
        padding: 20px;
    }

    section .section__title {
        font-size: 30px;
    }

    section .section__title {
        font-size: 28px;
    }

    a.btn-link {
        margin: auto;
    }

    .navbar .navbar-links .nav__link {
        display: none;
    }

    .navbar .navbar-links .nav__link-toggle {
        display: block;
    }

    .hero {
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;
        height: 105vh;
    }

    .hero-text {
        width: 100%;
    }

    .hero-text h1 {
        font-size: 32px;
        letter-spacing: -0.5px;
    }

    .hero-text p {
        font-size: 18px;
    }

    .hero .hero-image {
        width: 100%;
        text-align: center;
    }

    .hero .hero-image img {
        width: 60%;
        border-radius: 50%;
    }

    a.link {
        margin: auto;
    }

    .featured {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 20px;
    }

    .featured .featured-row:last-child {
        position: unset;
        top: unset;
    }

    .visual-images {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }

    .personal-images {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }

    .personal-images img {
        height: 400px;
    }

    footer {
        padding: 30px 20px;
        flex-direction: column-reverse;
        gap: 30px;
    }

    footer .social-links {
        gap: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .hero-text {
        width: unset;
    }

    .hero .hero-image {
        width: unset;
        text-align: right;
    }

    .hero .hero-image img {
        width: 100%;
        border-radius: 50%;
    }
}