/* Variables */
:root {
    /* Colors */
    --light: #DEDEDE;
    --light-trans: rgba(222, 222, 222, 0.6);
    --dark: #202020;
    --opacity: 0.6;

    /* Font */
    --font: 'Manrope', sans-serif;

    /* Transition */
    --transition: all 300ms ease-in-out;
}

* {
    box-sizing: border-box;
    color: inherit;
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    font-family: var(--font);
    color: var(--light);
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a.btn-link {
    padding: 16px 50px;
    background-color: var(--light-trans);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: var(--transition);
    width: fit-content;
}

a.btn-link:hover {
    color: var(--dark);
    background-color: var(--light);
}

a.btn-link svg path {
    transition: var(--transition);
}

a.btn-link:hover svg path {
    stroke: var(--dark);
}

section.with-padding {
    padding: 96px;
}

/* Header */
header {
    padding: 20px;
    background: rgba(50, 50, 50, 0.70);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .brand {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar .brand img {
    width: inherit;
}

.navbar .brand span {
    font-weight: bold;
    font-size: 20px;
}

.navbar .navbar-links {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.navbar .navbar-links .nav__link-toggle {
    display: none;
}

.navbar .navbar-links .nav__link {
    font-size: 18px;
    padding: 0 5px;
    position: relative;
    transition: var(--transition);
}

.navbar .navbar-links .nav__link .link-indicator {
    position: absolute;
    background-color: var(--light);
    bottom: -15px;
    left: 50%;
    height: 3px;
    width: 0;
    border-radius: 20px;
    transition: var(--transition);
}

.navbar .navbar-links .nav__link:hover {
    color: white;
}

.navbar .navbar-links .nav__link:hover .link-indicator {
    left: 0;
    width: 100%;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 85vh;
}

.hero-text {
    width: 35%;
}

.hero-text h1 {
    font-size: 64px;
    letter-spacing: -0.5px;
}

.hero-text p {
    font-size: 24px;
    color: var(--light-trans);
    letter-spacing: -0.5px;
}

.hero .hero-image {
    width: 60%;
    text-align: right;
}

.hero .hero-image img {
    width: 50%;
    border-radius: 50%;
}

a.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 10px;
    color: var(--light-trans);
    transition: var(--transition);
    padding: 0 96px;
}

a.link svg path {
    fill: var(--light-trans);
    transition: var(--transition);
}

a.link:hover {
    color: var(--light);
}

a.link:hover svg path {
    fill: var(--light);
}

/* Featured */
.featured {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.featured .featured-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.featured .featured-row:last-child {
    position: relative;
    top: 100px;
}

.featured .featured__image {
    width: 100%;
    height: 800px;
    object-fit: cover;
    border-radius: 5px;
}