:root {
    /* Font */
    --font: 'Roboto', sans-serif;

    /* Colors */
    --dark: #110C18;
    --dark-bg: #1A1423;
    --reverse-dark: #EACDC2;
    --active: #B75D69;

    /* Transition */
    --transition: all 300ms ease-in-out;
}

* {
    box-sizing: border-box;
    color: inherit;
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

a {
    text-decoration: none;
}

section {
    padding: 80px;
}

header {
    padding: 20px 80px;
    position: fixed top;
    background-color: var(--dark-bg);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1000px;
    margin: auto; */
}

.navbar .logo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--reverse-dark);
    border-radius: 50%;
}

.navbar .logo span {
    font-weight: bold;
    color: var(--active);
    font-size: 30px;
}

.navbar .nav-items {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-items .nav-link {
    color: var(--reverse-dark);
    padding: 0 5px;
    font-size: 14px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    transition: var(--transition);
}

.nav-items .nav-link:hover {
    color: var(--active);
}

.nav-items .nav-link .link-indicator {
    position: absolute;
    bottom: -15px;
    left: 50%;
    height: 5px;
    width: 0;
    background-color: var(--active);
    transition: var(--transition);
}

.nav-items .nav-link:hover .link-indicator {
    width: 100%;
    left: 0;
}

.nav-items .nav-link.active {
    color: var(--active);
    font-weight: 600;
}

.nav-items .nav-link.active .link-indicator {
    width: 100%;
    left: 0;
}

/* Switch */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--reverse-dark);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--dark-bg);
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 3px 0 4px #110C1825;
}

input:checked+.slider {
    background-color: var(--active);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--reverse-dark);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    box-shadow: -3px 0 4px #110C1825;
    background-color: white;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Hero */

.hero {
    background-color: var(--dark-bg);
    color: var(--reverse-dark);
}

.hero .container {
    display: flex;
    gap: 100px;
}

.hero .hero-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.hero .hero-text h1 {
    font-size: 60px;
    font-weight: 900;
    text-transform: capitalize;
}

.hero .hero-text p {
    line-height: 23px;
    letter-spacing: 0.5px;
}

.hero .hero-text p.question {
    font-size: 20px;
    font-weight: 500;
}

.hero .hero-text .actions {
    display: flex;
    gap: 30px;
}

.hero .hero-text .actions a {
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 5px;
}

.hero .hero-text .actions .btn-primary {
    background-color: var(--active);
    outline: 2px solid var(--active);
    transition: var(--transition);
}

.hero .hero-text .actions .btn-primary:hover {
    box-shadow: 5px 5px 10px #EACDC250;
}

.hero .hero-text .actions .btn-outline {
    outline: 2px solid var(--active);
    color: var(--active);
    position: relative;
    transition: var(--transition);
}

.hero .hero-text .actions .btn-outline:hover {
    outline-color: var(--reverse-dark);
}

.hero .hero-text svg {
    position: absolute;
    bottom: -230px;
    left: 50px;
}

.hero .hero-cards {
    width: 100%;
    height: 500px;
    grid-template-rows: repeat(5, minmax(157px, 200px));
    display: grid;
    grid-template-areas:
        "c1 c2"
        "c1 c4"
        "c3 c4"
        "c3 c5"
        ". c5"
    ;
    gap: 20px;
    justify-content: center;
}

.hero-cards #card-1,
.hero-cards #card-2,
.hero-cards #card-3,
.hero-cards #card-4,
.hero-cards #card-5 {
    width: 275px;
    /* height: fit-content; */
    border-radius: 20px;
}

/* Hero Card ~ 1 */

.hero .hero-cards #card-1 {
    grid-area: c1;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--dark);
    /* align-self: flex-end; */
}

.hero .hero-cards #card-1 .card-img {
    width: inherit;
    height: 175px;
}

.hero .hero-cards #card-1 img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.hero .hero-cards #card-1 .card-content {
    padding: 25px;
}

.hero .hero-cards #card-1 .card-content h2 {
    font-size: 20px;
    font-weight: 500;
}

.hero .hero-cards #card-1 .card-content p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
}

.hero .hero-cards #card-1 .card-content a {
    font-weight: 700;
    line-height: 25.5px;
    letter-spacing: 0.5px;
    color: #7400E0;
    text-transform: uppercase;
}

/* Hero Card ~ 2 */

.hero-cards #card-2 {
    grid-area: c2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--active);
    padding: 40px;
    color: white;
}

.hero-cards #card-2 h2 {
    font-size: 36px;
    font-weight: 700;
}

.hero-cards #card-2 p {
    font-weight: 500;
}

/* Hero Card ~ 3 */

.hero-cards #card-3 {
    grid-area: c3;
    display: flex;
    flex-direction: column;
    color: var(--dark);
    background-color: white;
    filter: drop-shadow(6px 4px 30px rgba(0, 0, 0, 0.34));
}

.hero-cards #card-3 .top {
    border-radius: 20px 20px 0 0;
    background-color: #C1FFFF;
}

.hero-cards #card-3 h2 {
    font-size: 28px;
    font-weight: 700;
    padding: 15px 20px;
}

.hero-cards #card-3 img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    filter: saturate(0) brightness(2);
}

.hero-cards #card-3 .bottom {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    letter-spacing: 1.08px;
    font-weight: 500;
}

.hero-cards #card-3 .bottom a {
    padding: 15px;
    text-transform: uppercase;
    background-color: var(--dark);
    color: white;
}

/* Hero Card ~ 4 */
.hero-cards #card-4 {
    grid-area: c4;
    color: var(--dark);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero #card-4 .images {
    width: inherit;
    height: 130px;
    background: url(https://s3-alpha-sig.figma.com/img/477b/01b9/eaa57a7d84d6c28e2deef0c770fe79a8?Expires=1691971200&Signature=F0Iyz88EQFojTzu9dfkW3BCghyz0cNleFwBHTbUKssWGjF2AHwE2NqUDSJfNJwFqWCz-CdB~uLJyInc-W7OhKXcJh-RCw0hWN95iRsEr7TDNUtp1C3eVkcXKQDFIxkLDPYnAsKdQi8uuzst~7IXCojQtyX6HodHA2Q8oHa95uyowNUNj5IkJfp9PIULDb9H-KtowRrMysIbWEnhV-96fIBgBAWBaOSXvHOkYIELju~gzL~I8dRhWUV34JH1hoshi6PyOhHd0eY6GVkrb45qX3nguv-7QA-JMBKcJiPjkClLLzM~SixYmoygMrOk9M-8DB3AtZzWWzksRVwv52tWyLw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    position: relative;
}

.hero #card-4 .images img {
    position: absolute;
    bottom: -35px;
    left: 32% ;
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
}

.hero-cards #card-4 .text {
    padding: 15px 25px;
    margin-top: 25px;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.hero-cards #card-4 .text .text-title {
    display: flex;
    flex-direction: column;

}

.hero-cards #card-4 .text h2 {
    font-size: 20px;
    font-weight: 500;
}

.hero-cards #card-4 .text span {
    color: #78858F;
}

/* Hero Card ~ 5 */
.hero-cards #card-5 {
    grid-area: c5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--dark);
    background-color: white;
    padding: 25px;
    text-align: center;
    filter: drop-shadow(6px 4px 30px rgba(0, 0, 0, 0.34));
}

.hero-cards #card-5 img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.hero-cards #card-5 h2 {
    font-size: 20px;
    font-weight: 500;
}

.hero-cards #card-5 span {
    color: #78858F;
    line-height: 25.5px;
    letter-spacing: 0.5px;
}

.hero-cards #card-5 p {
    margin: 0;
}

/* Text */
.text-section {
    height: 50vh;
    display: flex;
}

.text-section .container {
    margin: auto;
    width: 100%;
}

.text-section h2 {
    font-size: 48px;
    font-weight: 900;
    color: var(--dark-bg);
}

/* About */
.about {
    background-color: #F6F6F6;
    position: relative;
}

.phone-case {
    width: 21.5%;
    top: -20%;
    bottom: 0;
    position: absolute;
    border-radius: 30px;
    border: 6px solid var(--dark);
    padding: 10px;
    background-color: white;
}

.phone-case .status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone-case .status .status-icons {
    display: flex;
    gap: 5px;
}

.phone-case .phone-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.phone-case .phone-content h2 {
    font-size: 48px;
    font-weight: 900;
}

.phone-case .phone-content .phone-card {
    padding: 25px;
    border-radius: 20px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.phone-case .phone-content .phone-card:last-child {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.phone-case .phone-content .phone-card .profile {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.phone-case .phone-content .phone-card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.phone-case .phone-content .phone-card h5 {
    font-weight: 500;
    font-size: large;
    margin-bottom: 5px;
}

.phone-case .phone-content .phone-card small {
    color: #78858F;
}

.phone-case .phone-content .phone-card h3 {
    font-size: 28px;
    font-weight: 700;
}

.phone-case .bottom-bezzle {
    height: 30px;
    width: 90%;
    margin: auto;
    border-radius: 20px 20px 0 0;
    background-color: var(--dark);
    position: inherit;
    bottom: .5px;
    left: 5%;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 50%;
    margin-left: auto;
}

.about-text .line {
    position: absolute;
    top: -18%;
}

.about-text h3 {
    font-size: 48px;
    font-weight: 900;
}

.about-text .text-bloc:last-child h3 {
    font-size: 36px;
}

.about-text p {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

/* Footer */
footer {
    padding: 50px 0 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer h4 {
    font-size: 20px;
    margin: 0 0 5px;
}

footer h4 a {
    color: var(--active);
    font-weight: 500;
    text-decoration: underline;
}

footer small {
    color: #78858F;
    font-size: 14px;
}

footer .footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer .footer-socials a {
    font-size: 24px;
    transition: var(--transition);
}

footer .footer-socials a:hover {
    color: var(--active);
}

@media only screen and (min-width: 1025px) {
    nav, .container {
        max-width: 1200px;
        margin: auto;
    }
}